# Archivos y directorios relacionados con el control de versiones
.git
.gitignore

# Directorios de Node.js
node_modules/
npm-debug.log

# Archivos de configuración del editor y del sistema
*.swp
*.swo
*.swn
.DS_Store
Thumbs.db

# Otros archivos y directorios que no son necesarios para la construcción o ejecución
README.md
LICENSE
.dockerignore
Dockerfile
*.md
*.lock
yarn-error.log
