# Dependencias
/node_modules

# Archivos de registro
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Directorio de construcción
.nuxt
dist

# Archivos generados
*.pem
*.log

# Archivos del Sistema Operativo
.DS_Store
Thumbs.db

# Configuraciones del editor/IDE
.idea/
.vscode/
*.swp
*.swo
*.swn

# Variables de entorno
.env
