@import '~ant-design-vue/dist/antd.less';

@primary-color: hsl(122, 39%, 49%);
@layout-header-background: #212121;

// Temas del menú
@menu-bg: #212121;
@menu-item-color: #fff;
@menu-item-active-bg: @primary-color;
@menu-highlight-color: #fff;
